.paginationBtns{
    display: flex;
    width: 80%;
    height: 40px;
    list-style: none;
    justify-content: center;
}

.paginationBtns a{
    padding: 7px 10px;
    margin: 5px;
    font-size: 0.7rem;
    border-radius: 5px;
    border: 1px solid #e72c39;
    background-color: rgba(255, 227, 222, 0.432);
    color: #e72c39;
    font-weight: bold;
    cursor: pointer;
}

.paginationBtns a:hover, .activeBtn a{
    background-color: #e72c39;
    color: white;
}

.disabledBtn a{
    border: 1px solid rgb(187, 187, 187);
    background-color: transparent;
    color: rgb(187, 187, 187);
}
.disabledBtn a:hover{
    border: 1px solid rgb(187, 187, 187);
    background-color: transparent;
    color: rgb(187, 187, 187);
    cursor:not-allowed;
}
